<main>
  <div class="container" *ngIf="(generalState$ | async) as generalState">
    <h1 class="display-2">Weather App</h1>
    <img ngSrc="assets/images/weather.jpg" class="h-32px m-16px w-32px" alt="weather app" height="167" width="302">
    <div *ngIf="!generalState.isStarted; else isStartedBlock" class="landing-view">
      <button type="button" class="btn btn-primary col-auto" (click)="onStart()">Démarrer</button>
    </div>
    <ng-template #isStartedBlock>
      <div class="display-5 weather-tending">
        <span>Trending: </span>
        <span class="text-primary">Not implemented yet !!! </span>
      </div>
      <div class="weather-view">
        <p class="mb-2">First select a town or use the filter before</p>
        <form class="mb-2" [formGroup]="townFilterForm" (ngSubmit)="onSubmitForm()">
          <div class="row">
            <div class="col-auto">
              <input id="townTextSearch" formControlName="townTextSearch" type="text" class="form-control col-auto"
                     name="townTextSearch">
              <div class="invalid-feedback">Required field</div>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-secondary col-auto">
                Filter
              </button>
            </div>
          </div>
        </form>
        <div class="row justify-content-start">
          <div class="col-3">
            <app-town-selector [globalWeather]="globalWeather"
                               (selectedTownEvent)="selectedTown($event)"></app-town-selector>
          </div>
          <div id="weather-details" class="col-9">
            <app-weather-details [currentTownWeather]="selectedTownWeather"></app-weather-details>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</main>
