<h1 class="mb-3">Les images</h1>

<section class="mb-5">
  <h2>Informative image without accname</h2>
  <img src="/images/invitation-banner.jpg" width="600">
</section>

<section class="mb-5">
  <h2>Decorative images</h2>
  <div class="d-flex align-items-center gap-3 mb-2">
    <img src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=facearea&w=500&h=500" alt="Paysage de montagne sur un formidable couché de soleil" class="w-50">
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam interdum massa ut metus euismod, ac rhoncus dui lacinia. Donec aliquet tortor quis velit viverra, sed efficitur mauris ornare. Nullam venenatis feugiat ante, ac blandit nulla dapibus id. Nulla facilisi. In eu libero eget purus laoreet tristique. Nunc dui elit, vehicula sed facilisis eget, laoreet a metus. Suspendisse potenti. Morbi et tempor dui. Fusce mi enim, ultricies a nibh at, vestibulum mattis arcu. Aenean hendrerit orci sit amet sapien laoreet pellentesque. Suspendisse sed tellus aliquet, faucibus velit ut, malesuada arcu.</p>
      <p>Morbi in nulla vel dolor sollicitudin tempus. In hac habitasse platea dictumst. Proin at diam nisi. Sed ut efficitur quam. Ut arcu mi, suscipit sit amet mi ut, hendrerit consequat purus. Vestibulum cursus mauris non metus vulputate, non egestas ex tincidunt. Nullam ut accumsan nisi, nec mollis ante. Mauris eros ipsum, euismod ac feugiat sit amet, porta quis massa. Phasellus nunc ante, dignissim vel nisi a, eleifend molestie nulla. Duis purus sem, ullamcorper in purus vitae, vestibulum consectetur sem. Maecenas placerat vulputate rhoncus. Sed non ante at est gravida imperdiet. Nulla quis orci at lacus maximus malesuada. Nullam ultricies efficitur ante, sit amet placerat nunc mollis fringilla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque vulputate aliquam ipsum eget condimentum.</p>
    </div>
  </div>
  <div class="d-flex align-items-center gap-3 mb-2">
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam interdum massa ut metus euismod, ac rhoncus dui lacinia. Donec aliquet tortor quis velit viverra, sed efficitur mauris ornare. Nullam venenatis feugiat ante, ac blandit nulla dapibus id. Nulla facilisi. In eu libero eget purus laoreet tristique. Nunc dui elit, vehicula sed facilisis eget, laoreet a metus. Suspendisse potenti. Morbi et tempor dui. Fusce mi enim, ultricies a nibh at, vestibulum mattis arcu. Aenean hendrerit orci sit amet sapien laoreet pellentesque. Suspendisse sed tellus aliquet, faucibus velit ut, malesuada arcu.</p>
      <p>Morbi in nulla vel dolor sollicitudin tempus. In hac habitasse platea dictumst. Proin at diam nisi. Sed ut efficitur quam. Ut arcu mi, suscipit sit amet mi ut, hendrerit consequat purus. Vestibulum cursus mauris non metus vulputate, non egestas ex tincidunt. Nullam ut accumsan nisi, nec mollis ante. Mauris eros ipsum, euismod ac feugiat sit amet, porta quis massa. Phasellus nunc ante, dignissim vel nisi a, eleifend molestie nulla. Duis purus sem, ullamcorper in purus vitae, vestibulum consectetur sem. Maecenas placerat vulputate rhoncus. Sed non ante at est gravida imperdiet. Nulla quis orci at lacus maximus malesuada. Nullam ultricies efficitur ante, sit amet placerat nunc mollis fringilla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque vulputate aliquam ipsum eget condimentum.</p>
    </div>
    <img src="https://images.unsplash.com/photo-1465101046530-73398c7f28ca?auto=format&fit=facearea&w=500&h=500" alt="">
  </div>
</section>

<!-- Section 3 : Bouton avec image décorative (mal fait et bien fait) -->
<section>
  <h2>Bouton avec image décorative</h2>
  <div>
    <button class="btn btn-secondary d-flex align-items-center gap-1">
      <img src="/images/delete-icon.svg" alt="Symbole supprimer" height="20" class="text-white">Supprimer 1</button>
  </div>
  <div class="mt-3">
    <button class="btn btn-secondary d-flex align-items-center gap-1">
      <img src="/images/delete-icon.svg" height="20" alt="">Supprimer 2</button>
  </div>
</section>
