<div class="container d-flex flex-column">
  <h1>Add new town</h1>
  <div class="new-town-form">
    <div class="alert alert-warning d-flex align-items-center" role="alert" aria-labelledby="required-fields-alert">
      <span id="required-fields-alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16" aria-label="Warning: ">
          <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
        </svg>
        <span class="ms-1">Fields marked with an * are required</span></span>
    </div>
    <p class="text-"></p>
    <form class="row g-3 needs-validation" #ngForm="ngForm" [ngClass]="{ 'was-validated': ngForm.submitted}" [formGroup]="formGroup" (ngSubmit)="submit()" novalidate>
      <div class="col-12">
        <div class="required-field"><label for="new-town-name" class="form-label">Town name</label></div>
        <input formControlName="name" type="text" class="form-control" id="new-town-name" value="Mark" required>
        <div class="invalid-feedback">
          Please choose the town's name.
        </div>
      </div>
      <div class="col-md-6">
        <div class="required-field"><label for="new-town-latitude" class="form-label">Latitude</label></div>
        <div class="input-group has-validation">
          <input formControlName="latitude" type="number" step=".000001" class="form-control" id="new-town-latitude" value="Otto" required>
          <div class="invalid-feedback">
            Please enter the town's latitude.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="required-field"><label for="new-town-longitude" class="form-label">Longitude</label></div>
        <div class="input-group has-validation">
          <input formControlName="longitude" type="number" step=".000001" class="form-control" id="new-town-longitude" aria-describedby="inputGroupPrepend"
                 required>
          <div class="invalid-feedback">
            Please enter the town's longitude.
          </div>
        </div>
      </div>
      <div class="col-12">
        <label class="form-check-label" for="new-town-description">Description</label>
        <textarea formControlName="description" class="form-control" id="new-town-description"></textarea>
      </div>
      <div class="col-12" class="d-flex flex-row justify-content center gap-5">
        <button class="btn btn-outline-danger d-flex align-items-center gap-1" type="button" aria-label="Back to town list" routerLink="/" [queryParams]="{'isStarted': true}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16" aria-hidden="true">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
        </svg>Back</button>
        <button class="btn btn-primary d-flex align-items-center gap-1" type="submit" aria-label="Submit new town form"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16" aria-hidden="true">
          <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
        </svg>Submit</button>
      </div>
    </form>
  </div>
  <div class="position-fixed bottom-0 end-0 p-3">
    <div class="toast align-items-center text-white bg-danger border-0" [ngClass]="isErrorDisplayed?'show':''"
         role="alert" aria-live="assertive" aria-atomic="true" aria-labelledby="new-town-error">
      <div class="d-flex">
        <div class="toast-body" id="new-town-error">An error occurred please try again later</div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto"
                aria-label="Close" (click)="closeError($event)"></button>
      </div>
    </div>
  </div>
</div>
