<div>
  <div id="available-town-header" class="p-2">
    <span class="h5 mb-0">Available Towns</span>
  </div>
  <ul class="list-group" aria-labelledby="available-town-header" data-testid="available-towns">
    @for (townWeather of this.globalWeather; track townWeather.id) {
      <li class="btn list-group-item list-group-item-action {{ selectedTownWeather()?.id && selectedTownWeather()?.id === townWeather.id ? 'active': ''}}"
          (click)="onSelectTown(townWeather)"
          [attr.data-testid]="'town-' + townWeather.name"
          [attr.aria-label]="townWeather.name"
      >{{ townWeather.name }}</li>
    } @empty {
      <p class="text-center "><em>No town available</em></p>
    }
  </ul>
  <div class="d-flex justify-content-center mt-2">
    <button class="btn btn-primary d-flex align-items-center gap-1" routerLink="/add-new-town">
      <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
           viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
      </svg>
      Add new town
    </button>
  </div>
</div>
