/* You can add global styles to this file, and also import other style files */
:focus {
  outline: none;
  box-shadow: 0 0 0 3px hsla(220, 100%, 50%, 80%);
}

.form-control {
  border: solid 1px black;
}
